.footer {
  width: 100%;
  background-color: #212E30; }
  .footer__wrap {
    width: 90%;
    height: 30vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__logo {
    width: 100px;
    height: 100px; }
  .footer__list {
    display: inline-block;
    margin-left: 100px;
    list-style: none; }
    .footer__list--link {
      text-decoration: none;
      color: #437077;
      font-size: 20px; }
  .footer__social {
    list-style: none; }
    .footer__social--item {
      display: inline-block;
      text-decoration: none; }
    .footer__social--link {
      color: #62797D; }
