* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
    -webkit-box-sizing-box-sizing: border-box; }

.wrap {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto; }

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Roboto', sans-serif; }

.hero {
  width: 100%;
  height: 100vh;
  min-height: 800px;
  margin: 0 auto;
  outline: 1px solid red;
  background: #fff url("../img/back/back1.jpg") no-repeat top;
  background-size: contain; }
  .hero__header {
    width: 90%;
    max-width: 1366px;
    height: 200px;
    margin: 0 auto;
    outline: 1px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .hero__header--logo {
      width: 100px;
      height: 100px; }
    .hero__header--menu {
      width: 30px;
      height: 30px;
      font-size: 1.4em;
      color: #fff;
      border: none;
      outline: none;
      background: transparent; }
      .hero__header--menu:hover {
        cursor: pointer; }
      .hero__header--menu:active {
        color: rgba(0, 0, 0, 0.5); }
  .hero__main-wrap {
    outline: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .hero__textplace {
    outline: 1px solid red; }
  .hero__shoe {
    width: 50%;
    min-width: 500px;
    height: 50%;
    min-height: 500px;
    background: transparent url("../img/nike1.png") no-repeat center;
    background-size: contain;
    outline: 1px solid orange; }
