@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
    -webkit-box-sizing-box-sizing: border-box; }

.wrap {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

body {
  font-family: 'Roboto', sans-serif; }

.hero {
  width: 100%;
  min-height: 700px;
  margin: 0 auto;
  background: url("../img/back/nike-text.png") no-repeat top center, #fff url("../img/back/back1.jpg") no-repeat top center;
  background-size: contain, cover;
  position: relative;
  z-index: 1; }
  .hero__header {
    width: 90%;
    height: 20vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .hero__header--logo {
      width: 100px;
      height: 100px; }
    .hero__header--menu {
      width: 30px;
      height: 30px;
      font-size: 1.4em;
      color: #fff;
      border: none;
      outline: none;
      background: transparent; }
      .hero__header--menu:hover {
        cursor: pointer; }
  .hero__main-wrap {
    width: 90%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; }
  .hero__textplace {
    flex-basis: 36%;
    margin-top: 100px;
    color: #00FFFC;
    font-size: 1.5em; }
    .hero__textplace--text {
      margin-bottom: 70px; }
    .hero__textplace--button {
      margin: 5px;
      margin-left: 0; }
  .hero__shoe {
    outline: 1px solid red;
    width: 60%;
    min-width: 200px;
    height: 100%;
    min-height: 200px;
    background: transparent url("../img/nike1.png") no-repeat center;
    background-size: contain; }
  .hero__cloud-down {
    width: 100%;
    height: 25vh;
    min-height: 200px;
    background: url("../img/back/cloud-down1.png") no-repeat top center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    z-index: 999; }

@media (max-width: 900px) {
  .hero {
    height: 80vh; }
    .hero__textplace {
      font-size: 1em; }
    .hero__shoe {
      height: 50%; } }

.button {
  width: 200px;
  height: 50px;
  position: relative;
  border: 1px solid #4DF2F7;
  border-radius: 25px;
  background-color: #00ECF4;
  font-size: 0.7;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  outline: none;
  overflow: hidden; }
  .button::before {
    content: "";
    width: 90px;
    height: 70px;
    position: absolute;
    top: -10px;
    left: -130px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1));
    transform: skewX(-40deg);
    opacity: 0.7; }
  .button:hover:before {
    left: 300px;
    transition: .7s ease-in-out; }
  .button:active {
    border-color: #fff;
    outline: none; }

.button-o {
  width: 200px;
  height: 50px;
  position: relative;
  border: 1px solid #4DF2F7;
  border-radius: 25px;
  background-color: transparent;
  font-size: 0.7;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  outline: none;
  overflow: hidden; }
  .button-o::before {
    content: "";
    width: 90px;
    height: 70px;
    position: absolute;
    top: -10px;
    left: -130px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    transform: skewX(-40deg);
    opacity: 0.5; }
  .button-o:hover:before {
    left: 300px;
    transition: .7s ease-in-out; }
  .button-o:active {
    border-color: #fff;
    outline: none; }

.features {
  width: 100%;
  height: 95vh;
  max-height: 800px;
  background: #cdcdcd url("../img/back/back2.jpg") no-repeat center;
  background-size: cover;
  outline: 1px solid red;
  position: relative;
  z-index: 1; }
  .features__cloud-down {
    width: 100%;
    height: 60vh;
    background: url("../img/back/cloud-down2.png") no-repeat bottom center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    z-index: 10; }
  .features__shoe {
    width: 70%;
    min-width: 200px;
    height: 90%;
    min-height: 200px;
    background: transparent url("../img/nike2.png") no-repeat center;
    background-size: contain;
    outline: 1px solid red;
    margin: 0 auto;
    position: relative; }
    .features__shoe--text1 {
      position: absolute;
      top: 30%;
      left: 5%;
      color: #08E0EF;
      font-size: 1em;
      font-weight: 700; }
    .features__shoe--text2 {
      position: absolute;
      top: 10%;
      right: 15%;
      color: #08E0EF;
      font-size: 1em;
      font-weight: 700; }
    .features__shoe--text3 {
      position: absolute;
      bottom: 60%;
      right: 5%;
      color: #08E0EF;
      font-size: 1em;
      font-weight: 700; }
  .features__button {
    position: absolute;
    bottom: 0;
    left: 15%;
    transform: translateY(-85%);
    z-index: 50; }

@media (max-width: 900px) {
  .features {
    height: 60vh; }
    .features__cloud-down {
      height: 40vh; }
    .features__shoe {
      width: 100%;
      height: 100%; }
    .features--text1, .features--text2, .features--text3 {
      font-size: 0.5em; } }

.description {
  width: 100%;
  height: 140vh;
  margin-top: 100px;
  background: url("../img/back/back3.png") no-repeat 52% center;
  background-size: cover;
  display: flex;
  align-items: center; }
  .description__wrap {
    outline: 1px solid red;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    position: relative; }
  .description__shoe {
    width: 80%;
    min-width: 200px;
    height: 80%;
    min-height: 200px;
    margin-top: 10%;
    background: transparent url("../img/nike3.png") no-repeat center;
    background-size: contain;
    outline: 1px solid red;
    position: absolute;
    bottom: 0;
    left: -10%; }
  .description__textplace {
    position: absolute;
    right: 0;
    bottom: 30%;
    width: 50%;
    text-align: center; }
    .description__textplace--title {
      font-size: 3.5em;
      margin-bottom: 40px;
      color: #263238; }
    .description__textplace--text {
      font-size: 1em;
      color: #263238;
      margin-bottom: 70px; }

.model {
  width: 100%;
  background: #fff;
  margin-bottom: 100px; }
  .model__wrap {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  .model__shoe {
    flex-basis: 80%;
    min-width: 200px;
    height: 70%;
    min-height: 200px;
    background: transparent url("../img/nike4.png") no-repeat center;
    background-size: contain;
    outline: 1px solid red; }
  .model__textplace {
    flex-basis: 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start; }
    .model__textplace--inner {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row; }
    .model__textplace--title {
      font-size: 2em;
      margin-bottom: 20px;
      color: #263238;
      text-transform: uppercase; }
    .model__textplace--text {
      font-size: 1.1em;
      color: #263238;
      margin-bottom: 20px; }
    .model__textplace--price {
      font-size: 2em;
      color: #F50057;
      margin-right: 30px; }
    .model__textplace--button {
      width: 130px; }
  .model__stars {
    margin-top: 40px;
    flex-basis: 50%;
    height: 100px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end; }
    .model__stars--list {
      width: 280px;
      height: 45px;
      box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: space-around; }
    .model__stars--list-item {
      font-size: 1em;
      display: inline-block;
      list-style: none; }
    .model__stars--list-link {
      padding: 15px;
      text-decoration: none;
      color: #00ECF4; }
    .model__stars--review {
      font-size: 1.3em;
      font-weight: bold;
      text-decoration: none;
      color: #00ECF4; }

.footer {
  width: 100%;
  background-color: #212E30; }
  .footer__wrap {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__logo {
    width: 100px;
    height: 100px; }
  .footer__list {
    display: inline-block;
    list-style: none; }
    .footer__list--wrap {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .footer__list--item {
      margin-bottom: 15px; }
      .footer__list--item:last-child {
        margin-bottom: 0; }
    .footer__list--link {
      text-decoration: none;
      color: #437077;
      font-size: 0.8em;
      font-family: 'Proxima Nova Semibold', sans-serif; }
  .footer__social {
    list-style: none; }
    .footer__social--item {
      display: inline-block;
      text-decoration: none; }
    .footer__social--link {
      color: #62797D;
      font-size: 1em;
      margin-left: 30px; }
