.description
  width: 100%
  height: 130vh
  min-height: 800px
  background: url("../img/back/back3.png") no-repeat center
  background-size: cover
  &__wrap
    width: 90%
    margin: 0 auto
    height: 100vh
    position: relative
  &__shoe
    width: 80%
    min-width: 200px
    height: 80%
    min-height: 200px
    background: transparent url("../img/nike3.png") no-repeat center
    background-size: contain
    position: absolute
    bottom: 0
    left: -10%
  &__textplace
    position: absolute
    right: 0
    bottom: 30%
    width: 50%
    text-align: center
    &--title
      font-size: 3.5em
      margin-bottom: 40px
      color: $text-gray
    &--text
      font-size: 1em
      color: $text-gray
      margin-bottom: 70px

@media (max-width: 1050px)
  .description
    background-position: 30% 50%
    &__textplace
      &--title
        font-size: 3.0em

@media (max-width: 900px)
  .description
    &__textplace
      &--title
        font-size: 2.0em
      &--text
        font-size: 0.9em
@media (max-width: 750px)
  .description
    height: 90vh
    &__shoe
      width: 100%
      height: 50%
      position: relative
      top: 0
      left: 0
    &__textplace
      width: 100%
      margin: 0 auto
      position: relative
      top: 0
      left: 0
      &--title
        font-size: 2.0em
      &--text
        font-size: 1em
