.hero
  width: 100%
  min-height: 800px
  margin: 0 auto
  background: url("../img/back/nike-text.png") no-repeat top center, #fff url("../img/back/back1.jpg") no-repeat top center
  background-size: contain, cover
  position: relative
  z-index: 1
  &__header
    width: 90%
    max-width: 1366px
    height: 200px
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
    &--logo
      width: 100px
      height: 100px
    &--menu
      width: 30px
      height: 30px
      font-size: 1.4em
      color: #fff
      border: none
      outline: none
      background: transparent
      &:hover
        cursor: pointer
  &__main-wrap
    width: 90%
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: flex-start
  &__textplace
    margin: 50px auto
    color: #00FFFC
    font-size: 1.3em
    &--text
      margin-bottom: 70px
    &--button
      margin: 5px
  &__shoe
    width: 50%
    min-width: 500px
    height: 50%
    min-height: 500px
    background: transparent url("../img/nike1.png") no-repeat center
    background-size: contain
  &__cloud-down
    width: 100%
    max-width: 1600px
    min-height: 200px
    background: url("../img/back/cloud-down1.png") no-repeat top center
    background-size: cover
    position: absolute
    bottom: 0
    z-index: 999
